<script type="text/javascript">
  window.AppData.slug = "<%= @retrospective ? @retrospective[:slug] : '' %>";
  window.AppData.pusherCredentials = <%= raw pusher_credentials() %>;
  window.AppData.retrospective = <%= raw @retrospective ? @retrospective.to_json : 'null' %>;
</script>
<div class="container">
  <div id="retrospective-app"></div>
</div>
<%= javascript_include_tag '//js.pusher.com/2.2/pusher.min.js' %>
<%= javascript_include_tag 'retrospective' %>
