<!DOCTYPE html>
<html>
  <head>
    <title>Retrospective</title>
    <script type="text/javascript">
      window.AppData = {};
      window.AppData.user = <%= raw user_info() %>;
    </script>
    <%= stylesheet_link_tag 'app' %>
    <%= csrf_meta_tag %>
  </head>
  <body id="retro-app">
    <%= yield %>
    <%= javascript_include_tag '//js.pusher.com/2.2/pusher.min.js' %>
    <%= javascript_include_tag 'app' %>
  </body>
</html>
